---
const pageTitle="About Me"
const identity= {
    firstName: "Raúl",
    lastName: "Rosales",
    country: "Chile",
    occupation: "Profesor de Artes Visuales",
    hobbies: ["Fotografía", "Cine", "Música"],
};
const skills = ["Audiovisual", "Diseño", "Gestión de Proyectos", "Educación", "Arte Digital"];
---

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{pageTitle}</title>
</head>
<body>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/blog">Blog</a>
    
    
        <h1>{pageTitle}</h1>
        <h2>Soy {identity.firstName} {identity.lastName}</h2> 
        <ul>
            <li>País: {identity.country}</li>
            <li>Ocupación: {identity.occupation}</li>
            <li>Hobbies:
                <ul>
                    {identity.hobbies.map(hobby => <li>{hobby}</li>)}
                </ul>
            </li>

        <p>Mis habilidades son:</p>
        <ul>
            {skills.map((skills)=> <li>{skills}</li>)}
        </ul>
</body>
</html>

